# Compiled output
/dist
/build

# Node modules
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Coverage reports
/coverage
/.nyc_output

# IDEs
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# TypeORM artifacts
ormconfig.js
ormconfig.json
*.sqlite
*.db

# pnpm cache
.pnpm-store

# Docker
*.local.yml
*.bak
*.tar
*.gz
*.zip

# Test files
/test-results
jest.config.js
jest-e2e.json

# Temporary files
.temp
.tmp

# Database dumps
*.sql
*.dump
